body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

img {
  background: yellow;
  max-width: 100%;
  display: inline;
}

.everything {
  max-width: 65rem;
  margin: 0 auto;
  padding: 2rem;
}

.profile {}

.profile-pic {}

.octocat-pic {
  max-width: 25rem;
}

.profile-info {}

.profile-number {
  background: red;
  display: inline-block;
}

.profile-attribution {
  background: orange;
  display: inline-block;
}

.username {
  background: green;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.avatar {
  background: blue;
  max-width: 1.5rem;
  border-radius: .25rem;
  display: inline-block;
}


/*Center the content to be no larger than 65rem*/
