body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.everything {
  max-width: 65rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
}

.inside-everything {

}

.profile {
  width: calc(100% / 3 - 2rem);
  margin: 2rem;
}

.octocat-pic {
  border: 0.025rem #d0dbda solid;
}

.profile-info {
  overflow: auto;
  border-bottom: 0.025rem #d0dbda solid;
}

.profile-number {
  display: inline-block;
}

.profile-attribution {
  float: right;
}

.username {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.avatar {
  max-width: 1.5rem;
  border-radius: .25rem;

}


/*Center the content to be no larger than 65rem*/
